body{
  background: url(./../images/background.jpg) center center/cover no-repeat;
}
html {
  scroll-behavior: smooth;
}

/* loader */
.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #fff;
  display: grid;
  place-items: center;
  transition: opacity .25s, visibility 1s;
}

.fade {
  opacity: 0;
  visibility: hidden;
}

* {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.img-fluid {
  width: 200px;
}

.list:hover {
  transition: 1s all ease;
  background: rgb(185, 184, 183);
}

.card:hover{
  color: hotpink;
  transition: 1s all ease;
}
h1{
  background: lightseagreen;
  color: #fff;
}

/* Scroll Bar */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}


*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}