body{
  background: url(./../images/background.jpg) center center/cover no-repeat;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}


*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}